a {
  text-decoration: none;
}

.letter-opt {
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.letter {
  display: inline-block;
  padding: 8px 15px;
  margin: 30px 10px;
  border: 1px solid black;
}

.sname {
  display: block;
  font-size: 20px;
  text-align: center;
}
.store {
  display: inline-block;
  padding: 10px 50px;
  margin-bottom: 50px;
  max-width: fit-content;
  /* vertical-align: top; */
}
.store-logo {
  max-width: 150px;
}

.cate-nav {
  padding-right: 50px;
  text-align: right;
}

* {
  margin: 0;
}
header {
  background-color: orange;
  height: 100px;
  position: sticky;
  top: 0;
  color: green;
}
footer {
  min-width: 100%;
  align-items: center;
  background-color: skyblue;
  height: fit-content;
  clear: both;
  bottom: 0;
  position: relative;
}
main {
  min-height: 100vh;
  background-color: wheat;
}
#headerLogo {
  padding-left: 2%;
  text-align: initial;
  width: 30%;
  height: 50px;
}

#headerLogo img {
  margin: 15px;
  max-height: 70px;
}

#headerNav {
  float: right;
  width: 20%;
}

#headerP {
  width: calc(100% - 15% - 30%);
  text-align: center;
}

#footerDiv {
  text-align: center;
}

.Lselected {
  color: rgb(0, 47, 255);
  background-color: rgb(223, 131, 12);
}
